.available-section {
  min-height: 100vh;
  background: linear-gradient(180deg, #0a5c2d, #0e7b41);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 80px 20px;
}

.available-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  font-family: serif;
}

.available-title span {
  color: #e0e0e0; /* lighter shade for "In" */
  margin-left: 8px;
}

.available-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 40px; */
  max-width: 1000px;
  width: 100%;
}

.available-card-one {
  background: rgba(0, 0, 0, 0.2);
  padding: 60px;
  /* border-radius: 12px; */
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.available-card-two{
    background-color: #0b6533;
  padding: 60px;
  /* border-radius: 12px; */
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.available-card-two:hover {
  /* transform: translateY(-10px); */
   background: #89a495;
   transition: background 0.6s ease-in-out;
}

.card-number {
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    position: absolute;
    top: 16px;
    left: 26px;
}

.available-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.available-card p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Scroll indicator */
.scroll-indicator {
  position: absolute;
  right: 30px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  color: #fff;
  letter-spacing: 1px;
}

.scroll-indicator .dot {
  width: 8px;
  height: 8px;
  margin-top: 6px;
  border-radius: 50%;
  background: white;
}
